// Font styles
$font-primary: "Amiko", sans-serif;
$font-secondary: "Adamina", serif;

// Colors
$bg-color: #f1f0f3;

$text-primary: #4e370d;
$text-grey: rgb(67, 67, 67);

$color-accent: #ef4e42;

// Media query sizes
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;
